/* This custom Squeekboard layout is created by Ick and is published under GNU GPL 3.0 or later. */


sq_view {
    background-color: @squeek;
    font-family: cantarell, sans-serif;
}
sq_view sq_button {
    background: @squeek-bu;
    color: @squeek-bu-fo;
}
sq_button.wide_keys {
    background: @squeek-bu-wide;
    color: @squeek-bu-wide-fo;
    font-family: sans-serif bold;
}
sq_button:active,
sq_button.wide_keys:active,
sq_button.modifier:active,
sq_button.arrows:active {
    background: @squeek-bu_a;
}
sq_button.courser_ctrl {
    color: @squeek-bu-ctrl-fo;
}
sq_button.modifier {
    background: @squeek-bu-mod;
    color: @squeek-bu-mod-fo;
}
sq_button.view_switch,
sq_button.view_switch_wide {
    background: @squeek-bu-switch;
    color: @squeek-bu-switch-fo;
}
sq_button.view_switch_base {
    background: @squeek-bu-switch_a;
    color: @squeek-bu-switch-fo_a;
}
sq_button.funktional_keys {
    color: @squeek-bu-fkey-fo;
}
sq_button.other_keys {
    color: @squeek-bu-esctab-fo;
} 
sq_button.arrows {
    color: @squeek-bu-arrow-fo;
    background: @squeek-bu-arrow;
}
sq_button.numbers {
    color: @squeek-bu-num-fo;
}
sq_button.num_block,
sq_button.num_0 {
    color: @squeek-bu-numb-fo;
}
sq_button.punctuation {
    color: @squeek-bu-dot-fo;
}
sq_button.math_operations {
    color: @squeek-bu-operation-fo;
}
sq_button.brackets {
    color: @squeek-bu-bracket-fo;
}
sq_button.special_characters {
    color: @squeek-bu-special-fo;
}
sq_button.math_block {
    color: @squeek-bu-math-fo;
}
sq_button.france_accents {
    color: @squeek-bu-france-fo;
}
sq_button.greek_letters {
    color: @squeek-bu-greek-fo;
}
sq_button.greek_letters_big {
    color: @squeek-bu-upgreek-fo;
}
sq_button.more_math {
    color: @squeek-bu-advmath-fo;
}
sq_button.more_accents {
    color: @squeek-bu-accent-fo;
}
#safespace,
sq_button.others {
    color: @squeek-bu-other-fo;
}
sq_button.german_diaeresis {
    color: @squeek-bu-diae-fo;
}
sq_button.latched {
    background: @squeek-bu-latched;
    color: @squeek-bu-latched-fo;
}
sq_button.locked {
    background: @squeek-bu-locked;
    color: @squeek-bu-locked-fo;
}
#numReturn,
#Return {
    background: @squeek-bu-return;
    color: @squeek-bu-return-fo;
}
#numReturn:active,
#Return:active {
    background: @squeek-bu-return_a;
    color: @squeek-bu-return-fo_a;
}