/* This custom Squeekboard layout is created by Ick and is published under GNU GPL 3.0 or later. */
/* This file is created to optimize Ick's Squeekboard layout with 100% and 200% screen scale. */


sq_view {
    font-size: 45px;
}
sq_view sq_button {
    border-width: 0px;
    border-radius: 7.5px;
    margin: 3px;
}
#Control,
#Alt,
#Super,
#Menu,
#preferences,
sq_button.courser_ctrl {
    font-size: 27px;
}
sq_button.view_switch,
sq_button.view_switch_wide,
sq_button.view_switch_base,
#return_terminal,
sq_button.altline {
    font-size: 22.5px;
}
sq_button.wide_keys,
sq_button.funktional_keys,
sq_button.other_keys,
#view_math.wide,
#‑,
#DoubleAmpersand {
    font-size: 37.5px;
}